@import "svelte-m3c/imports";
@import "tailwindcss";
@import "svelte-m3c";

@source "../node_modules/svelte-m3c";

@theme {
    /* Color Palette */
    --color-primary-100: #ffffff;
    --color-primary-99: #f7ffed;
    --color-primary-98: #edffdf;
    --color-primary-95: #d2fdb9;
    --color-primary-90: #c4efac;
    --color-primary-80: #a9d292;
    --color-primary-70: #8eb679;
    --color-primary-60: #749b60;
    --color-primary-50: #5b8149;
    --color-primary-40: #436833;
    --color-primary-35: #385b28;
    --color-primary-30: #2c4f1d;
    --color-primary-25: #214313;
    --color-primary-20: #163808;
    --color-primary-15: #0b2d00;
    --color-primary-10: #062100;
    --color-primary-5: #031500;
    --color-primary-0: #000000;

    --color-secondary-100: #ffffff;
    --color-secondary-99: #f7ffed;
    --color-secondary-98: #effee1;
    --color-secondary-95: #e6f6d9;
    --color-secondary-90: #d8e7cb;
    --color-secondary-80: #bccbb0;
    --color-secondary-70: #a1b096;
    --color-secondary-60: #87957c;
    --color-secondary-50: #6d7b64;
    --color-secondary-40: #55624c;
    --color-secondary-35: #495641;
    --color-secondary-30: #3e4a36;
    --color-secondary-25: #323f2b;
    --color-secondary-20: #273421;
    --color-secondary-15: #1d2917;
    --color-secondary-10: #131f0d;
    --color-secondary-5: #091405;
    --color-secondary-0: #000000;

    --color-tertiary-100: #ffffff;
    --color-tertiary-99: #f1ffff;
    --color-tertiary-98: #e2ffff;
    --color-tertiary-95: #c9fafb;
    --color-tertiary-90: #bbebec;
    --color-tertiary-80: #a0cfd0;
    --color-tertiary-70: #85b4b4;
    --color-tertiary-60: #6b999a;
    --color-tertiary-50: #517f80;
    --color-tertiary-40: #386667;
    --color-tertiary-35: #2b5a5b;
    --color-tertiary-30: #1e4e4f;
    --color-tertiary-25: #0f4243;
    --color-tertiary-20: #003738;
    --color-tertiary-15: #002b2c;
    --color-tertiary-10: #002021;
    --color-tertiary-5: #001415;
    --color-tertiary-0: #000000;

    --color-neutral-100: #ffffff;
    --color-neutral-99: #fbfdf3;
    --color-neutral-98: #f8faf0;
    --color-neutral-96: #f2f5ea;
    --color-neutral-95: #eff2e7;
    --color-neutral-94: #edefe5;
    --color-neutral-92: #e7e9df;
    --color-neutral-90: #e1e4d9;
    --color-neutral-80: #c5c8be;
    --color-neutral-70: #a9aca3;
    --color-neutral-60: #8f9289;
    --color-neutral-50: #757870;
    --color-neutral-40: #5c5f58;
    --color-neutral-35: #50544c;
    --color-neutral-30: #444841;
    --color-neutral-25: #393d35;
    --color-neutral-22: #32362f;
    --color-neutral-20: #2e312b;
    --color-neutral-17: #282b24;
    --color-neutral-15: #232720;
    --color-neutral-12: #1d211a;
    --color-neutral-10: #191d17;
    --color-neutral-6: #11140f;
    --color-neutral-5: #0f120c;
    --color-neutral-4: #0c0f0a;
    --color-neutral-0: #000000;

    --color-neutral-variant-100: #ffffff;
    --color-neutral-variant-99: #f9fef0;
    --color-neutral-variant-98: #f6fbed;
    --color-neutral-variant-95: #eef3e5;
    --color-neutral-variant-90: #dfe4d7;
    --color-neutral-variant-80: #c3c8bb;
    --color-neutral-variant-70: #a8ada0;
    --color-neutral-variant-60: #8d9287;
    --color-neutral-variant-50: #73796d;
    --color-neutral-variant-40: #5b6055;
    --color-neutral-variant-35: #4f544a;
    --color-neutral-variant-30: #43483e;
    --color-neutral-variant-25: #383d33;
    --color-neutral-variant-20: #2d3229;
    --color-neutral-variant-15: #22271f;
    --color-neutral-variant-10: #181d15;
    --color-neutral-variant-5: #0d120b;
    --color-neutral-variant-0: #000000;

    --color-error-100: #ffffff;
    --color-error-99: #fffbff;
    --color-error-98: #fff8f7;
    --color-error-95: #ffedea;
    --color-error-90: #ffdad6;
    --color-error-80: #ffb4ab;
    --color-error-70: #ff897d;
    --color-error-60: #ff5449;
    --color-error-50: #de3730;
    --color-error-40: #ba1a1a;
    --color-error-35: #a80710;
    --color-error-30: #93000a;
    --color-error-25: #7e0007;
    --color-error-20: #690005;
    --color-error-15: #540003;
    --color-error-10: #410002;
    --color-error-5: #2d0001;
    --color-error-0: #000000;
}
